div.create-container
  form(action="/products",  method="post")
    input(type="text", placeholder="product name", required="required", name="product")
    input(type="text", placeholder="image url", required="required", name="image_shoe" )
    input(type="text", placeholder="color", required="required", name="shoe_color" )  
    button Create